.header{
    height: 30px;
    margin: 0px auto;

    background:#E5E5E5;   
}
.header ul{
    list-style-type:none;
    margin:-10px 80px;
 
    height:10px;
    background:#E5E5E5;
}
.header ul li{
    font-size:14px;
    float:left;
    text-align:center;
    width:95px;
    padding-top:5px;
}
.header ul li a{
    text-decoration:none;
    color:#666;
}
.header ul li a:hover{
    color:#F00;
}
